.red{
    height: 100px;
    width: 100px;
    background-color: red;
    display: inline-block;
    position: absolute;
    left:201px;
    top: 200px;
}
.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    position: absolute;
    top: 100px;
    left:101px;

}
.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
}